@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
@import url('https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Qwigley&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
body,html {
    @apply overflow-x-hidden;
     background: linear-gradient(
      90deg,
      rgb(11, 38, 211) 0%,
      rgb(4, 3, 17) 0%,
      #0a0925 44%,
      rgb(5, 9, 40) 47%,
      rgb(11, 8, 39) 100%,
      rgb(199, 139, 9) 100%
    );


  
  }

  html {
    scroll-behavior: smooth;
  }



  /* styles/globals.css */

/* Customize scrollbar for WebKit-based browsers (e.g., Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 12px; /* Scrollbar width */
}

::-webkit-scrollbar-thumb {
  background-color: #6b6b6b; /* Scrollbar thumb color */
  border-radius: 10px; /* Round edges */
  border: 3px solid #f1f1f1; /* Padding between thumb and track */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Scrollbar track color */
}

/* For Firefox */
* {
  scrollbar-width:1; /* Thin scrollbar */
  scrollbar-color: #050e3b #000000; /* Thumb and track colors */
}
@layer base {}
